* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Resets */
button {
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background-color: #141414;
}

.card {
  text-align: center;
  padding: 40px;
  background-color: #1F1F1F;
}

.card__list {
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.card__link {
  text-decoration: none;
  background-color: #333333;
  color: #FFFFFF;
  padding-block: 12px;
  /* remove this -- add display block instead */
  width: 100%;
  display: block;
  font-size: 16px;
}
