:root {
  --color-accent: #CDE667;
  --color-light: #FFF;
  --color-dark-gray: #333333;
  --color-dark: #1F1F1F;
  --color-darkest: #141414;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Global Styles */
body {
  background-color: var(--color-dark);
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

/* Utility Classes */
.rounded {
  border-radius: 10px;
}

/* Component Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-light);
  background-color: var(--color-dark);
}

.card {
  text-align: center;
  padding: 40px;
  background-color: var(--color-dark);
  width: 100%;
}

.card__image {
  max-width: 90px;
  border-radius: 100%;
  aspect-ratio: 1;
  margin-bottom: 30px;
}

.card__location {
  color: var(--color-accent);
  margin-bottom: 30px;
}

.card__list {
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list li {
  /* fade-up animation properties */
  opacity: 0;
  transform: translateY(20px);
  animation-name: fade-up;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.card__link {
  text-decoration: none;
  background-color: var(--color-dark-gray);
  color: var(--color-light);
  padding-block: 12px;
  display: block;
  width: 100%;
  font-size: 16px;
}

.card__link--primary {
  background-color: var(--color-accent);
  color: #1F1F1F;
}

.alert {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: 30px;
  padding: 20px 36px;
  border-radius: 60px;
  background-color: var(--color-dark-gray);
  transform: translateY(300%);
  transition: transform 300ms ease-out;
}

.alert.active {
  transform: translateY(0);
}

/* Styles for viewports 400px or wider */
@media screen and (min-width: 460px) {

  .container {
    background-color: var(--color-darkest);
  }

  .card {
    border-radius: 10px;
    max-width: 350px;
    min-height: auto;
  }

}

@keyframes fade-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}