:root {
  /* Primitives - raw color values */
  
  /* Original theme colors */
  /* --color-green: #CDE667;
  --color-white: #FFF;
  --color-dark-gray: #333333;
  --color-dark: #1F1F1F;
  --color-darkest: #141414; */

  /* Kevin's theme colors */
  --color-vanilla-custard: #EAE2B7;
  --color-charcoal-blue: #2f3e46;
  --color-yellow: #FCBF49;
  --color-space-blue: #01273c;
  --color-blue-gray: #24384d;
  --color-deep-space-blue: #011d2a;
  
  /* Megan's theme colors */

  /* Semantic tokens - colors with meaning */

  /* Original theme tokens */
  /* --color-primary: var(--color-green);
  --color-text-light: var(--color-white);
  --color-text-dark: var(--color-dark-gray);
  --color-body-background: var(--color-dark);
  --color-card-background: var(--color-dark);
  --color-link-background: var(--color-dark-gray);
  --color-alert-background: var(--color-dark-gray); */

  /* Kevin's Theme tokens */
  --color-primary: var(--color-yellow);
  --color-text-light: var(--color-vanilla-custard);
  --color-text-dark: var(--color-charcoal-blue);
  --color-body-background: var(--color-space-blue);
  --color-body-background-medium-up: var(--color-deep-space-blue);
  --color-card-background: var(--color-space-blue);
  --color-link-background: var(--color-blue-gray);
  --color-alert-background: var(--color-space-blue);

  /* Megan's Theme tokens */

}

/* Resets */
* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Global Styles */
body {
  background-color: var(--color-body-background);
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

/* Utility Classes */
.rounded {
  border-radius: 10px;
}

/* Component Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-text-light);
  background-color: var(--color-body-background);
}

.card {
  text-align: center;
  padding: 40px;
  background-color: var(--color-card-background);
  width: 100%;
}

.card__image {
  max-width: 90px;
  border-radius: 100%;
  aspect-ratio: 1;
  margin-bottom: 30px;
}

.card__location {
  color: var(--color-primary);
  margin-block: 10px 30px;
}

.card__list {
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list li {
  /* fade-up animation properties */
  opacity: 0;
  transform: translateY(20px);
  animation-name: fade-up;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.card__link {
  text-decoration: none;
  background-color: var(--color-link-background);
  color: var(--color-text-light);
  padding-block: 12px;
  display: block;
  width: 100%;
  font-size: 16px;
}

.card__link--primary {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
}

.alert {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: 30px;
  padding: 20px 36px;
  border-radius: 60px;
  background-color: var(--color-alert-background);
  transform: translateY(300%);
  transition: transform 300ms ease-out;
}

.alert.active {
  transform: translateY(0);
}

/* Styles for viewports 400px or wider */
@media screen and (min-width: 460px) {

  .container {
    background: var(--color-body-background-medium-up);
  }

  .card {
    border-radius: 10px;
    max-width: 350px;
    min-height: auto;
  }

}

@keyframes fade-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}